.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.authenticate {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 50px 0px 50px;
}

.auth__left {
  flex: 0.5;
  text-align: center;
}

.auth__right {
  flex: 0.5;
}

.auth__left > img {
  width: 400px;
  margin-top: 40px;
}

.auth__more {
  border: 1px solid grey;
  padding: 20px;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 13px;
  text-align: center;
}

.auth__more > span {
  font-weight: 500;
  font-size: 14px;
}

.auth__more > span > button {
  background: 0;
  border: 0;
  font-weight: bolder;
  color: #0095f6;
}

.auth__more > span > button:hover {
  cursor: pointer;
}

